body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(225, 222, 199);
}

header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(35, 32, 24);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 300px;
    overflow: hidden;
}

.banner img {
    margin: 0px 0px 0px 0px;
    width: 100%;
}

.newItem {
    background-color: rgb(225, 222, 199);
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#newInput {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 25%;
    padding: 10px;
    font-size: 16px;
}

#newQuantity {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 8%;
    padding: 10px;
    font-size: 16px;
}

#newPrice {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 5%;
    padding: 10px;
    font-size: 16px;
}


.addBtn {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
}

table{
    background-color: white;
    width: 50%;
}

tr:nth-child(odd){
    background-color: #eee;
}

th:nth-child(1){
    width: 80%;
}

tr:hover {
    background: rgb(200, 199, 199);
}



.editBtn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: tahoma;
    font-size: 16px;
}

.editBtn:hover {
    background-color: #0056b3;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.modal-content h2 {
    color: #333;
}

.modal-content form div {
    margin-bottom: 15px;
}

.modal-content form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.modal-content form input {
    width: calc(100% - 22px); 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.close-modal-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}